@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Averia Gruesa Libre', sans-serif;
}
body{
    background-color: #EBD6C0;
}
header{
    background-color: #FDF0E2;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position:relative;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
}
.logo{
    display: flex;
    align-items: center;
}
.logo img:first-child {
    height: 75px;
    padding: 10px;
}

.logo img:last-child {
    height: 50px;
    padding: 5px;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 20px;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #991E0F;
    padding: 10px 15px;
}
.nav-link:hover {
    color: #12742e; 
    transition: color 0.3s ease;
}
.login-button{
    padding: 10px 15px;
}
svg {
    height: 30px;
    width: 30px;
}
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
svg:hover circle:first-child {
    stroke: #12742e;
}
svg:hover circle:nth-child(2) {
    stroke: #12742e; 
}
svg:hover path {
    stroke: #12742e;
}
footer{
    height: 400px;
    background-color: #FDF0E2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
.footer-list{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
    color: #991E0F;
}
#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.email input {
    border-radius: 13px;
    border: none;
    width: 260px;
    height: 38px;
    padding-left: 15px;
    background-color: #fff;
}

.senha input {
    border-radius: 13px;
    border: none;
    width: 260px;
    height: 38px;
    padding-left: 15px;
    background-color: #fff;

    margin-top: 15px;
}

.entrar input {
    cursor: pointer;
    width: 110px;
    height: 38px;
    border-radius: 10px;
    border: none;
    background-color: #C3AA9A;
    font-size: 16px;
}

input::placeholder {
    color: #b6b6b6;
}

.caixa {
    margin-top: 65px;
}

.caixa img {
    width: 115px;
}

input:focus {
    outline: none;
}
.void{
    height: 30px;
}

@media screen and (max-width: 730px) {
    .button {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
    .nav-bar {
        padding: 1.5rem;
    }
    .nav-list ul {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        cursor: pointer;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #FDF0E2;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .mobile-menu.open {
        display: flex;
    }
    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .mobile-menu .nav-item {
        padding: 1rem;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #EBD6C0;
    }
    .mobile-menu .nav-link {
        display: block;
        width: 100%;
        padding: 10px 0;
        color: #991E0F;
    }

    .button {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
  
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .footer-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    footer div {
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}